  /*  color */
  $primary-p0: #106a9d;
  $primary-p1: #663399;
  $primary-p2: #3370a0;
  $primary-p3: #004c88;
  $primary-p4: #002e52;
  $primary-p5: #001e36;

  $secondary-s0: #f5bab7;
  $secondary-s1: #f19794;
  $secondary-s2: #ec7570;
  $secondary-s3: #e7524c;
  $secondary-s4: #8b312e;
  $secondary-s5: #5c211e;

  $grey-g0: #ffffff;
  $grey-g1: #fbfbfb;
  $grey-g2: #d9d9d9;
  $grey-g3: #818181;
  $grey-g4: #2d2d2d;
  $grey-g5: #121212;